.content {
  padding: 0 20px 20px;
}

.product_chart_wrapper, .sellers_chart_wrapper, .ai_insights_wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  height: 100%;
  padding: 20px;
  border: 2px solid var(--color-border);
  border-radius: 8px;
  overflow: hidden;
}

.chart_header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
}

.bar_chart > div {
  font-size: 0.9rem;
  color: var(--color-text);
}

.chart_label {
    font-size: .8rem;
    color: var(--color-secondary);
    opacity: .75;
    font-weight: 300;
}

.chart_filters {
    display: flex;
    gap: 10px;
    overflow: auto;
    padding: 2px;
}

.chart_header select, .chart_header input {
    background: none;
    border: 0;
    color: var(--color-secondary);
    font-family: Urbanist ,sans-serif;
    font-weight: 100;
    font-size: 0.8rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 8px;
    outline: 1px solid var(--color-border);
    border-radius: 4px;
    transition: .4s;
    color-scheme: dark;
}

.chart_header select option {
    background: var(--color-bg-dark);
    color: var(--color-text);
    font-weight: 200;
    padding: 4px 8px;
}

.chart_header select:hover {
    background: var(--color-primary-10);
}

.chart_header select:focus {
    outline-color: var(--color-primary);
}

@media (min-width: 700px) {
    .content {
        padding: 15px 50px 30px 30px;
        gap: 30px;
    }
}

@media (min-width: 700px) and (max-width: 1000px) { 
  .content {
    padding: 15px 30px 30px;
  }
}

