.container::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(.8);
    background: radial-gradient(at 0% 0%, 
                rgb(0 0 0 / 0%) 0%,
                rgb(0 0 0 / 80%) 100%);
    z-index: -1;
}

.container {
    position: relative;
    z-index: 1;
}

.layout {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    justify-content: space-between;
    gap: 20px;
}

.greeting_wrapper {
    display: flex;
    flex-direction: column;
    line-height: 1;
    color: var(--color-text);
    mask-image: linear-gradient(to bottom, black 50%, transparent 125%);
}

.greeting {
    font-weight: 100;
    font-size: 0.9rem;
}

.name {
    font-weight: 100;
    font-size: 1.8rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 20px;
}

.main_content {
    flex: 1;
    overflow-y: auto;
    padding-top: 0;
}

.nav_wrapper {
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
}

@media (min-width: 700px) {
    .layout {
        left: 20%;
        position: relative;
        width: 80%;
        justify-content: start;
        gap: 30px;
    }
    .header {
        padding: 0;
    }
    .layout {
        padding: 30px 50px 30px 30px ;
    }

    .nav_wrapper {
        position: fixed;
        top: 0;
        left: 0;
        height: 100dvh;
        width: 20%;
        padding: 30px 0px 30px 50px;
        max-width: 290px;
        min-width: 150px;
    }
}

@media (min-width: 701px) and (max-width: 1000px) {
    .layout {
        padding: 30px ;
    }
    .nav_wrapper {
        padding: 30px 0px 30px 30px;

    }
}
