:root {
  --color-bg-dark: #00384d;
  --color-bg-light: #ffffff;
  --color-primary: #01b5fa;
  --color-secondary: #e0e0e0;
  --color-text: #fff;
  --color-muted: #888;
  --color-border: #ffffff15;

  --theme-color: #002431; /*meta theme color*/
  --color-background: #000e14;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  background: var(--color-background);
  color: var(--color-primary);
  font-weight: 200;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}