:root {
  --color-bg-dark: #00384d;
  --color-bg-light: #ffffff;
  --color-primary: #01b5fa;
  --color-primary-60: #01b3fa60;
  --color-primary-30: #01b3fa30;
  --color-primary-10: #01b3fa10;

  --color-secondary: #e0e0e0;
  --color-text: #fff;
  --color-muted: #888;
  --color-border: #ffffff15;

  --theme-color: #002431; /*meta theme color*/
  --color-background: #000e14;

  --breakpoint: 1000px;
  --container-width: 90%;
  --container-max-width: 1100px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

body {
  background: var(--color-background);
  color: var(--color-primary);
  font-weight: 200;
}




