.header {
    display: flex;
    flex-direction: column;
    line-height: 1;
    padding: 20px 20px 0px;
    color: var(--color-text);
    mask-image: linear-gradient(to bottom, black 50%, transparent 125%);
}

.greeting {
    font-weight: 100;
    font-size: 0.9rem;
}

.name {
    font-weight: 100;
    font-size: 1.8rem;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-x: auto;
    padding: 20px 0;
    gap: 20px;
    scrollbar-width: none;
}

.chart_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.chart_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid var(--color-border);
    border-radius: 8px;
    overflow: hidden;
}

.chart_content {
    padding: 10px 0 0 10px;
}

.chart_value {
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: 200;
    margin-top: 3px;
    color: var(--color-text);
}

.chart {
    margin-top: -9%;
    scale: 1.025;
    filter: brightness(0.9) opacity(0.75);
    transition: .3s ease;

}

.chart:hover {
    filter: brightness(1) opacity(1);
}

.recent_orders_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    max-height: 100%;
    overflow: hidden;
}

.orders_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 2px solid var(--color-border);
    overflow: hidden;
    border-radius: 8px;
}

.orders_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    gap: 10px;
}

.card_label {
    color: var(--color-secondary);
    font-weight: 300;
    font-size: 0.8em;
    opacity: 0.75;
}

.recent_orders {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    gap: 10px;
    scrollbar-width: none;
    overflow-x: auto;
}

.cards_data_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.cards_data {
    display: flex;
    gap: 20px;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    padding: 2px;
}

@media (min-width: 700px) {
    .header {
        padding: 30px 30px 0px;
    }

    .cards_data_wrapper {
        padding-left: 0px;
        height: min-content;
    }

    .content {
        display: grid;
        grid-template-areas: 
        "chart cards"
        "orders orders";
        height: auto;
        grid-template-rows: 2fr 3fr;
        grid-template-columns: 3fr 4fr;
        padding: 30px;
        grid-gap: 30px;
        height: 100%;
    }

    .cards_data {
        gap: 30px;
        display: grid;
        grid-template-columns: auto auto;
    }

    .chart_wrapper {
        padding: 0px;
        align-items: start;
        width: 100%;
        height: 100%;
        max-height: 100%;
        overflow: hidden;
    }

    .orders_content {
        padding: 20px;
    }

    .recent_orders {
        padding: 0 20px;
        max-height: 100%;
    }

    .recent_orders_wrapper {
        padding: 0px;
        max-height: 100%;
        overflow: hidden;
    }

    .orders_container {
        height: 100%;
    }

    .chart_container {
        justify-content: space-between;
        height: 100%;
    }

    .chart_content {
        padding: 20px 0 0 20px;
    }

    .chart_value {
        font-size: 2.4rem;
    }

    .card_label {
        font-size: 0.9rem;
    }
}


.chart_wrapper { grid-area: chart; }
.recent_orders_wrapper { grid-area: orders; }
.cards_data_wrapper { grid-area: cards; }