.header {
    display: flex;
    flex-direction: column;
    line-height: 1;
    padding: 20px 20px 0px;
    margin-bottom: 20px;
    color: var(--color-text);
    mask-image: linear-gradient(to bottom, black 50%, transparent 125%);
}

.greeting {
    font-weight: 100;
    font-size: 0.9rem;
}

.name {
    font-weight: 100;
    font-size: 1.8rem;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-x: auto;

    gap: 10px;
}

.chart_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 0 20px;
}

.chart_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid var(--color-border);
    border-radius: 8px;
    overflow: hidden;
}

.chart_content {
    padding: 10px 0 0 10px;
}

.chart_value {
    color: var(--color-primary);
    font-size: 1.9rem;
    font-weight: 200;
    margin-top: 3px;
    color: var(--color-text);
}

.chart {
    margin-top: -10%;
    scale: 1.025;
    filter: brightness(0.9) opacity(0.75);
    transition: .3s ease;
}

.chart:hover {
    filter: brightness(1) opacity(1);
}

.title {
    font-size: 1rem;
    font-weight: 100;
    color:  var(--color-text);
    margin-bottom: 10px;
    display: none; /* remover depois */
}

.recent_orders_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 0 20px;
}

.orders_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid var(--color-border);
    overflow: hidden;
    border-radius: 8px;
}

.orders_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    gap: 10px;
}

.card_label {
    color: var(--color-secondary);
    font-weight: 300;
    font-size: 0.8em;
    opacity: 0.75;
}

.recent_orders {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    gap: 10px;
}

.cards_data_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.cards_data {
    display: flex;
    gap: 20px;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: none;
}