.container_scan {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'sans-serif';
    height: 100dvh;
}

.cam_wrapper {
    position: relative;
    max-width: 800px;
    overflow: hidden;
    width: 100vw; 
    height: 100vh;  
}

video.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    opacity: 0;
    transition: .5s;
    position: relative;
    box-shadow: 0px 0px 1px 100vmax rgba(0,0,0,0.5);
}

.overlay span::after, .overlay span::before {
    content: '';
    position: absolute;
    width: 25%;
    height: 25%;
    border: 2px solid var(--color-text);
    border-radius: 8px;
    margin: -6px;
}

.overlay span:nth-child(1)::before {
    top: 0;
    left: 0;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.overlay span:nth-child(1)::after {
    top: 0;
    right: 0;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.overlay span:nth-child(2)::before {
    bottom: 0;
    left: 0;
    border-top-width: 0px;
    border-right-width: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.overlay span:nth-child(2)::after {
    bottom: 0;
    right: 0;
    border-top-width: 0px;
    border-left-width: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.line {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    width: 99%;
    margin: 0 auto;
    height: 2px;
    background: var(--color-primary);
    animation: scan 2s ease-in-out infinite;
}

.canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: 12px;
    display: none;
}

@keyframes scan {
    0% { top: 10px; }
    50% { top: calc(100% - 10px); }
}   

.product_box_wrapper {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    margin-bottom: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
    font-family: Urbanist, sans-serif;
}

.product_box {
    position: relative;
    display: flex;
    width: 90%;
    max-width: 600px;
    text-align: center;
    opacity: 0.8;
}

.product_content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    background: var(--color-text);
    overflow: hidden;
    border-radius: 8px;
}

.product_info {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 8px 0;
    color: var(--color-bg-dark);
    
}

.product_box_wrapper .button_wrapper {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.product_box_wrapper .button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: transparent;
    color: var(--color-bg-dark);
    border: 1px solid var(--color-bg-dark);
    cursor: pointer;
    transition: .3s;
    padding: 4px 6px;
    border-radius: 4px;
    gap: 4px;
    font-size: 1rem;
    font-weight: 400;
    font-family: Urbanist, sans-serif;
}

.product_box_wrapper .button_icon {
    display: flex;
    font-size: 1.2rem;
    
}


.product_box_wrapper .button:hover {
    background: var(--color-bg-dark);
    color: var(--color-text);
}

.product_box_wrapper .button_close {
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--color-primary);
    background: transparent;
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    cursor: pointer;
}

.product_box_wrapper .button_close:hover {
    background: var(--color-primary);
    color: var(--color-text);
}

.product_image {
    display: flex;
    height: 100%;
    max-width: 100px;
    min-width: 50px;
}

.product_name {
    display: flex;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}

.product_gtin, .product_brand {
    display: flex;
    font-size: 0.9rem;
    font-weight: 400;
    gap: 4px;
}

.product_image img {
    max-width: 100%;
}

.basket_wrapper {
    position: fixed;
    width: 100%;
    background: var(--color-text);
    bottom: 0;
    z-index: 2;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    border-top: 2px solid var(--color-bg-dark);
    height: 0%;
    min-height: max-content;
    transition: height .3s ease-in-out;
    max-width: 800px;
    font-family: Urbanist, sans-serif;
}

.basket_wrapper.open {
    height: calc(100% - 30px);
}

.basket_wrapper.open .basket_open_button {
    rotate: 180deg;
}

button.basket_open_button {
    position: absolute;
    top: -100%;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: min-content;
    height: min-content;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: none;
    background: var(--color-bg-dark);
    color: var(--color-text);
    transition: rotate .3s ease;
}

.basket_header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 20px;
    width: 100%;
    color: var(--color-bg-dark);
}

.basket_items {
    display: flex;
    align-items: end;
    gap: 8px;
}

.basket_icon {
    display: flex;
    font-size: 1.8rem;
    border-radius: 50px;
}

.basket_items_quantity {
    font-size: 1rem;
    font-weight: 300;
}

.basket_value {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.basket_content {
    padding: 0 20px;
    max-height: 100%;
}