.table {
    width: 100%;
    border-spacing: 0px;
}

.table_head {
    color: var(--color-secondary);
    text-align: left;
    font-size: 1rem;
}

.table_head th {
    font-weight: 300;
    padding: 10px 0;
}

.table_body {
    color: var(--color-secondary);
    text-align: left;
    font-size: 1rem;
}

.table_body td {
    font-weight: 100;
    padding: 5px 0;
}